/* -------- start form contact -------- */
#contact .text-contact {
  text-transform: uppercase;
  color: var(--maincolor);
}

:root {
  --colorWhite: #fff;
  --maincolor: #fee715;
  /* --colorred: #d9232d; */
  --colorBlack: #101820;
  --colorGray: #eee;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bakbak One", cursive;
  font-family: "Patrick Hand", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bakbak One", cursive;
  font-family: "Patrick Hand", cursive;
}
/*----------- statr in navbar -----------*/
nav {
  background-color: var(--colorWhite);
  z-index: 2;
}

nav .navbar-brand {
  font-weight: 600;
  font-size: 28px;
  color: var(--maincolortext);
}

nav .navbar-nav a {
  color: var(--maincolortext);
  transition: all 0.1s linear;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}

nav .navbar-nav a:hover {
  color: var(--colorred);
}

nav .navbar-nav button {
  background-color: var(--colorred);
}

/*----------- statr in navbar -----------*/

/* -------- start form contact -------- */
#contact .text-contact {
  text-transform: uppercase;
  color: var(--maincolor);
}

#contact .info i {
  font-size: 20px;
  color: var(--maincolor);
  float: left;
  width: 44px;
  height: 44px;
  background: #edeff1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#contact .info i:hover {
  color: #edeff1;
  background: var(--maincolor);
}

#contact .info div h4 {
  color: var(--colorBlack);
}

#contact .info div p {
  color: var(--colorBlack);
}

#contact .form button {
  background: var(--maincolor);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
/* --------- end form  contact---------- */

/* start in footer */
footer {
  background-color: var(--colorBlack);
}
/* end in footer */
