:root {
  --colorWhite: #fff;
  --maincolor: #fee715;
  /* --colorred: #d9232d; */
  --colorBlack: #101820;
  --colorGray: #eee;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bakbak One", cursive;
  font-family: "Patrick Hand", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bakbak One", cursive;
  font-family: "Patrick Hand", cursive;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colorBlack);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #314962;
}
/* ------------------------------------------------------ start in sidebar ------------------------------------------- */
.backSide {
  background-color: var(--colorBlack);
}

.dash .itemsEmoplye li a {
  color: var(--maincolor);
}

.dash .link-div a {
  text-decoration: none;
}

.dash #main table th {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

.dash #main .content-home table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dash #main .content-employees table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/*------------------------------------------------------ end in sidebar ---------------------------------------------------- */

/* -------------------------------------------- start add employee --------------------------------------------------------- */
#addEmployeAdmin .Home .title {
  color: var(--maincolor);
}

#addEmployeAdmin form label {
  color: var(--colorBlack);
  text-transform: uppercase;
}

#addEmployeAdmin form input {
  border: 1px solid var(--colorBlack);
}

#addEmployeAdmin form button {
  background-color: var(--colorBlack);
}
/* -------------------------------------------- end add employee --------------------------------------------------------- */

/* --------------------------------------------start in employe ----------------------------------------------------------- */
#employeAdmin table th {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

#employeAdmin .content-home table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#employeAdmin .content-employees table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#employeAdmin .Home .title {
  color: var(--maincolor);
}

#employeAdmin .AddUser {
  background-color: var(--maincolor);
}

#employeAdmin .AddUser a {
  text-decoration: none;
  color: var(--colorBlack);
  font-size: 1.2rem;
  font-weight: 600;
}
/* ------------------------------------------------- end in employe -------------------------------------------------------- */

/* -------------------------------------------- start in message show admin --------------------------------------------------------- */
#MessageShowAdmin table th {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

#MessageShowAdmin .content-home table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#MessageShowAdmin .content-employees table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#MessageShowAdmin .Home .title {
  color: var(--maincolor);
}

#MessageShowAdmin .content-mesage {
  background-color: #eee;
}

#MessageShowAdmin .message .text h2 {
  color: var(--maincolor);
}

#MessageShowAdmin .message .text h2 span {
  color: var(--colorBlack);
}
/* -------------------------------------------- end in message show admin --------------------------------------------------------- */

/* ------------------------------------------------- start in prodcut admin -------------------------------------------------- */
#ProductAdmin table th,
#ShowCart table th {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

#ProductAdmin .content-home table,
#ShowCart .content-home table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#ProductAdmin .content-employees table,
#ShowCart .content-employees table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#ProductAdmin .wishlist-box-main table tr td img,
#ShowCart .wishlist-box-main table tr td img {
  height: 15vh;
}

#ProductAdmin .wishlist-box-main table tr td a,
#ShowCart .wishlist-box-main table tr td a {
  text-decoration: none;
  color: var(--colorBlack);
  font-size: 1.4rem;
}

#ProductAdmin .wishlist-box-main table tr td button {
  background-color: var(--colorBlack);
}
/* ------------------------------------------------- end in prodcut admin -------------------------------------------------- */
