:root {
  --colorWhite: #fff;
  --maincolor: #fee715;
  /* --colorred: #d9232d; */
  --colorBlack: #101820;
  --colorGray: #eee;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bakbak One", cursive;
  font-family: "Patrick Hand", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bakbak One", cursive;
  font-family: "Patrick Hand", cursive;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colorBlack);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #314962;
}
/* --------- start in sidebar -------- */
.backSide {
  background-color: var(--colorBlack);
}

.dash .itemsEmoplye li a {
  color: var(--maincolor);
}

.dash .link-div a {
  text-decoration: none;
}

/* .dash #main .item {
    display: none;
  } */

.dash #main table th {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

.dash #main .content-home table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dash #main .content-employees table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*  ------ start in all div -------  */
.dash #main .Home .title {
  color: var(--maincolor);
}
/*  ------ end in all div -------  */

/* ------- end in sidebar ------------ */

/* ------------------------  start add user ----------------------- */
.dash #main .employees .AddUser {
  background-color: var(--maincolor);
}

.dash #main .employees .AddUser a {
  text-decoration: none;
  color: var(--colorBlack);
  font-size: 1.2rem;
  font-weight: 600;
}
/* ------------------------  end add user ----------------------- */
